@import '../../../styles/index.scss';

::ng-deep .basics {
    padding: 20px 10px;

    button:not(:first-child) {
        margin-left: 20px;
    }
}

::ng-deep .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
        font-size: 20px;
    }
}

::ng-deep .table-column {
    max-width: 25vw;

    &.cdk-drag-preview {
        background-color: #f4f4f4;

        .table-header,
        .table-cell {
            border-color: #cccccc;
            border-left: 1px solid #cccccc;
        }
    }
}

::ng-deep .table-header {
    position: relative;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    // border-right: 1px solid #e4e4e4;
    height: 68px;
    max-height: 68px;

    mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
    }
}

::ng-deep .table-cell {
    // border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    height: 52px;
    max-height: 52px;
    display: flex;

    &>div {
        padding: 5px 0;
        margin: auto 0;
        overflow-y: auto;
    }
}

::ng-deep .table-header,
::ng-deep .table-cell {
    padding: 0 20px;
    overflow-x: hidden;

    @include media("<=tablet") {
        padding: 0 5px;
    }
}

:host ::ng-deep .mat-form-field-infix {
    width: auto !important;
}