@import './app/styles/index.scss';
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
    display: flex !important;
}

.flex-column {
    display: flex !important;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.flex-grow-1 {
    flex-grow: 1;
}

.w-100 {
    width: 100%;
}

.md-d-none {
    @include media("<=tablet") {
        display: none;
    }
}

.green-button {
    background-color: #35a038;
    color: #fff;
}